.Header--Style{
    height:50px;
    background-color: black;
    color:white;
}
.Header1--Style{
    height:800px;
}
.Body--Style{
    height:1200px;
    background-color: whitesmoke;
}
.Body1--Style{
    height:200px;
}
.Body2--Style{
    height:450px;
}
.Body3--Style{
    height: 500px;
}
.BodyNext{
    height: 750px;
}
.BodyNext1{
    height:325px;
}
.Footer--Style{
    height:350px;
    background-color: gray;
}
.aa{
    height:30px;
}
.aaa{
    height:80px;
    background-color: whitesmoke;
}