.Header{
    height:70px;
    border-bottom: 0.5px solid;
}
.aa{
    color:green;
}
.Body1--Style{
    height:340px;
    border-bottom: 0.5px solid;
}
.a{
    height:10px;
}
.Body2--Style{
    height:910px;
}
.aaa{
    height:45px;
}
.zz{
    height:290px;
}
.Body3--Style{
    height:900px;
    border-top: 0.5px solid;
}
.Footer{
    height:300px;
    border-top: 0.5px solid;
}
.Header3-Style{
    height:300px;
}
.Header1{
    height:50px;
}
.red{
    color:red;
}
.Header2--Style{
    height:40px;
    border-bottom: 0.5px solid;
}
.title{
    height:840px;
}
.b1{
    height:300px;
}