.Body--Full{
    background-color: black;
}
.Header--Style{
    height: 20vh;
    background-color: black;
}
.a:hover{
    border-bottom: 5px solid;
    
}
.Content--Style{
    height:10vh;
    background-color:black;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    color:white;
}
.nav0{
    color:white;
    border-bottom: 5px solid;
}
.nav1{
    color:white;
    margin-left: 20px;
}
.nav2{
    color:white;
    margin-left: 20px;
}
.Body--Style{
    height:300px;
    background-color: black;
}
.cover1{
    color:white;
}
.cover2{
    color:white;
}
.Footer--Style{
    height:20vh;
    background-color: black;
    color:gray;
}